<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
  <ion-back-button></ion-back-button>
  </ion-buttons>
    <ion-title>ClienteDetalhes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="formGroup">
 <ion-list>
  <ion-item>
    <ion-label floating>Nome</ion-label>
    <ion-input formControName="nome" value="{{cliente.nome}}" type="text">
      </ion-input>
  </ion-item>
  <ion-item>
      <ion-label floating>Telefone</ion-label>
      <ion-input formControName="telefone" value="{{cliente.telefone}}" type="text">
        </ion-input>
    </ion-item>
    <ion-item>
        <ion-label floating>E-mail</ion-label>
        <ion-input formControName="email" value="{{cliente.email}}" type="text">
          </ion-input>
      </ion-item>
 </ion-list>
<ion-buttons expand="full" (click)="atualizar()">Atualizar</ion-buttons>
<ion-button color="danger" expand="full" (click)="excluir()">Excluir</ion-button>

</form>
</ion-content>
